/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.login-layout{
    width:100%;
    position:relative;
}
.login-form {
    margin: auto;
    text-align: center;

}
.login-block {
    position: absolute;
    margin-top: 6%;
    left: 37%;
    max-width: 400px;
}